// Variables
$off-white: #FAFAFA33;
$Alabaster: #FAFAFA;
$dark-jungle-green: #1F2B2B;
$off-dark-jungle-green: #1F2B2B33;
$brownish-grey: #857867;
$dusty-grey: #A59C8D;
$Dusky-blue-green: #3E5F69;
$off-dusty-grey: #A59C8D33;
$Egg-shell: #E7EAEB;
$Dawn-Pink: #E9E7E4;
$off-Dawn-Pink: #E9E7E4B3;
$spring-wood: #F7F6F6;
$white: #FFFFFF;

$primary-font: 'Epilogue';
