* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  width: 100%;
  padding: 17px 40px;
  background-color: #1F2B2B;
  position: fixed;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 17px 20px;
  }
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand-logo a {
  margin: 0;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .nav-brand-logo a {
    font-size: 21px;
  }
}
.nav-brand-logo a:hover {
  color: #857867;
}

header nav .nav-links {
  display: flex;
  align-items: center;
  gap: 41px;
}
@media only screen and (max-width: 900px) {
  header nav .nav-links {
    display: none;
  }
}
header nav .nav-links ul {
  margin: 0;
  display: flex;
  gap: 41px;
  list-style-type: none;
}
header nav .nav-links ul li a {
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
header nav .nav-links ul li a:hover {
  color: #857867;
}
header nav .nav-links ul li a.active {
  color: #FAFAFA;
}
header nav .nav-links .button {
  width: 180px;
  padding: 12px 0 8px 0;
  background-color: transparent;
  border: 1px solid #A59C8D;
  border-radius: 3px;
  text-align: center;
}
header nav .nav-links .button a {
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
header nav .nav-links .button:hover {
  background-color: #A59C8D;
  border-color: #857867;
}
header nav .nav-links .button:hover a {
  color: #1F2B2B;
}
header nav img {
  display: none;
}
@media only screen and (max-width: 900px) {
  header nav img {
    display: block;
  }
}

.company-intro-section {
  position: relative;
  top: 80px;
  padding: 120px 0 60px 0;
}
.container {
  max-width: 1200px !important;
  margin: 0 auto;
  display: flex;
}

.sub-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.company-intro-section .build-your-bussiness {
  align-items: center;
  gap: 41px;
}
@media only screen and (max-width: 1042px) {
  .company-intro-section .build-your-bussiness {
    flex-direction: column-reverse;
  }
}
.company-intro-section .build-your-bussiness .real-estate-landing-program {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (max-width: 1042px) {
  .company-intro-section .build-your-bussiness .real-estate-landing-program {
    width: 100%;
  }
}
.main-heading {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.company-intro-section .build-your-bussiness .real-estate-landing-program .detail {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.company-intro-section .build-your-bussiness .real-estate-landing-program .user-identity {
  display: flex;
  gap: 32px;
}
@media only screen and (max-width: 400px) {
  .company-intro-section .build-your-bussiness .real-estate-landing-program .user-identity {
    flex-direction: column;
  }
}
.company-intro-section .build-your-bussiness .real-estate-landing-program .user-identity .button {
  width: 166px;
  padding: 12px 0 8px 0;
  background-color: #A59C8D;
  border: 1px solid #857867;
  border-radius: 3px;
  text-align: center;
}
.company-intro-section .build-your-bussiness .real-estate-landing-program .user-identity .button a {
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.company-intro-section .build-your-bussiness .real-estate-landing-program .user-identity .button:hover {
  background-color: #857867;
  border-color: #A59C8D;
}
.company-intro-section .build-your-bussiness .real-estate-landing-program .user-identity .borrower {
  width: 192px;
}
.company-intro-section .build-your-bussiness .section-img {
  height: 532px;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .company-intro-section .build-your-bussiness .section-img {
    width: 100%;
  }
}
.company-intro-section .build-your-bussiness .section-img img {
  transition: box-shadow 0.3s ease;
}
.company-intro-section .build-your-bussiness .section-img img:hover {
  box-shadow: 0 4px 10px rgba(31, 43, 43, 0.24);
  /* Drop shadow */
}
@media only screen and (max-width: 550px) {
  .company-intro-section .build-your-bussiness .section-img .lower-img {
    width: 100%;
  }
}
.company-intro-section .build-your-bussiness .section-img .upper-img {
  position: absolute;
  top: 208px;
  left: 41px;
}
@media only screen and (max-width: 550px) {
  .company-intro-section .build-your-bussiness .section-img .upper-img {
    width: 47%;
  }
}

.overview-projects-section {
  position: relative;
  top: 80px;
  padding: 60px 0 120px;
}
.overview-projects-section .overview-projects {
  gap: 21px;
}
@media only screen and (max-width: 1042px) {
  .overview-projects-section .overview-projects {
    align-items: center;
    flex-direction: column;
  }
}
.overview-projects-section .overview-projects .our-projects {
  max-width: 432px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 22px;
}
@media only screen and (max-width: 433px) {
  .overview-projects-section .overview-projects .our-projects {
    grid-template-columns: auto;
  }
}
.overview-projects-section .overview-projects .our-projects .project {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.overview-projects-section .overview-projects .our-projects .project:hover .sub-heading {
  color: #1F2B2B;
}
.sub-heading {
  margin: 0;
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.overview-projects-section .overview-projects .project-detail-carousel {
  max-width: 700px;
  padding: 32px 40px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  background-color: rgba(165, 156, 141, 0.2);
  overflow-x: auto;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-inner .carousel-item .main-heading {
  margin-bottom: 21px;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-inner .carousel-item .project-detail {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Position indicators to the bottom-left */
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .custom-indicators {
  position: unset;
  gap: 12px;
  align-items: center;
  justify-content: unset;
  margin: 0;
  z-index: 0;
  /* Active dot style */
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .custom-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #A59C8D;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .custom-indicators button.active {
  width: 15px;
  height: 15px;
  background-color: #857867;
  transform: scale(1.2);
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn {
  display: flex;
  gap: 12px;
  margin: 0;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .btn-customization {
  position: unset;
  width: 68px;
  height: 68px;
  z-index: 0;
  background-color: #FAFAFA;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .btn-customization .carousel-control-prev-icon {
  background-image: none;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-prev {
  position: unset;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-prev:not(:disabled):hover {
  background-color: #A59C8D;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-prev:not(:disabled):hover svg path {
  fill: #FAFAFA;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-prev:not(:disabled):active {
  background-color: #857867;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-prev:disabled {
  background-color: transparent;
  cursor: not-allowed;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-next {
  position: unset;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-next:not(:disabled):hover {
  background-color: #A59C8D;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-next:not(:disabled):hover svg path {
  fill: #FAFAFA;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-next:not(:disabled):active {
  background-color: #857867;
}
.overview-projects-section .overview-projects .project-detail-carousel .carousel-bottom .carousel-btn .carousel-control-next:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.lending-criteria-section {
  position: relative;
  top: 80px;
  padding: 80px 0;
  background-image: url(images/bg-img-01.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lending-criteria-section .lending-criteria {
  flex-direction: column;
  gap: 32px;
}
.lending-criteria-section .lending-criteria .main-heading {
  color: #FAFAFA;
}
.lending-criteria-section .lending-criteria .detail {
  max-width: 590px;
  margin: 0;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.lending-criteria-section .lending-criteria .user-identity {
  display: flex;
  gap: 32px;
}
@media only screen and (max-width: 400px) {
  .lending-criteria-section .lending-criteria .user-identity {
    flex-direction: column;
  }
}
.lending-criteria-section .lending-criteria .user-identity .button {
  width: 182px;
  padding: 12px 0 8px 0;
  background-color: transparent;
  border: 1px solid #FAFAFA;
  border-radius: 3px;
  text-align: center;
}
.lending-criteria-section .lending-criteria .user-identity .button a {
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.lending-criteria-section .lending-criteria .user-identity .button:hover {
  background-color: #FAFAFA;
  border-color: #857867;
}
.lending-criteria-section .lending-criteria .user-identity .button:hover a {
  color: #857867;
}
.lending-criteria-section .lending-criteria .user-identity .borrower {
  width: 208px;
}

.blog-section {
  position: relative;
  top: 80px;
  padding: 60px 0;
}
.blog-section .blog-container {
  flex-direction: column;
  gap: 30px;
}
.blog-section .blog-container .blog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-section .blog-container .blog-head .sub-heading {
  color: #1F2B2B;
}
.blog-section .blog-container .blog-head .visit-blog {
  display: flex;
  align-items: center;
  gap: 11px;
}
.blog-btn {
  margin: 0;
}
.blog-btn a {
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.blog-btn a:hover {
  color: #857867;
  text-decoration: underline;
}

.blog-articles {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px 21px;
}
@media only screen and (max-width: 899px) {
  .blog-articles {
    grid-template-columns: auto;
    justify-content: center;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .blog-articles {
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
.blog-articles .article {
  background-color: #F7F6F6;
  transition: box-shadow 0.5s ease;
}
.blog-articles .article:hover {
  box-shadow: 10px 10px 10px rgba(31, 43, 43, 0.1);
}
@media only screen and (max-width: 899px) {
  .blog-articles .article {
    width: 100%;
  }
}
.blog-articles .article img {
  width: 100%;
}
.blog-articles .article .article-detail {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.article-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-head .title {
  margin: 0;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.article-head .about-author {
  margin: 0;
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sub-heading {
  color: #1F2B2B;
}

.article-info {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.why-choosing-everpeak-section {
  position: relative;
  top: 80px;
  padding-bottom: 60px;
}
.why-choosing-everpeak-section .why-choosing-everpeak {
  justify-content: space-between;
  gap: 30px;
}
@media only screen and (max-width: 899px) {
  .why-choosing-everpeak-section .why-choosing-everpeak {
    flex-direction: column;
  }
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .loan-process-head {
  display: flex;
  align-items: center;
  gap: 11px;
}
@media only screen and (max-width: 549px) {
  .why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .loan-process-head {
    flex-direction: column;
  }
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .loan-process-head .sub-heading {
  color: #1F2B2B;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .loan-process-head .nav-brand-logo p {
  margin: 0;
  color: #1F2B2B;
  font-family: "Epilogue";
  font-size: 24px;
  line-height: 32px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .info {
  margin: 0;
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .processing-step {
  padding: 8px 30px 8px 12px;
  background-color: #E9E7E4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .processing-step .step-head {
  display: flex;
  gap: 11px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .processing-step .step-head .count {
  margin: 0;
  font-family: "Epilogue";
  color: #857867;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .processing-step .step-head .title {
  margin: 0;
  font-family: "Epilogue";
  color: #857867;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .processing-step .step-info {
  margin: 0;
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .button {
  width: 180px;
  padding: 12px 0 8px 0;
  background-color: #A59C8D;
  border: 1px solid #857867;
  border-radius: 3px;
  text-align: center;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .button a {
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.why-choosing-everpeak-section .why-choosing-everpeak .loan-processing-container .button:hover {
  background-color: #857867;
  border-color: #A59C8D;
}
.why-choosing-everpeak-section .why-choosing-everpeak img {
  height: 448px;
}
@media only screen and (max-width: 899px) {
  .why-choosing-everpeak-section .why-choosing-everpeak img {
    width: 50%;
    height: auto;
  }
}

.our-private-property-section {
  position: relative;
  top: 80px;
  padding: 60px 0;
}
.our-private-property-section .our-private-property {
  padding: 0;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 899px) {
  .our-private-property-section .our-private-property .main-heading {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}
.our-private-property-section .our-private-property .private-property-cards {
  position: relative;
}
.our-private-property-section .our-private-property .private-property-cards .custom-carousel-inner {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 21px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
.our-private-property-section .our-private-property .private-property-cards .custom-carousel-inner .custom-carousel-item {
  margin: 0;
  display: block;
  transition: transform 0.5s ease;
}
.our-private-property-section .our-private-property .private-property-cards .custom-carousel-inner .custom-carousel-item .carousel-card-detail {
  padding: 24px;
  background-color: #E9E7E4;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.our-private-property-section .our-private-property .private-property-cards .custom-carousel-inner .custom-carousel-item .carousel-card-detail .about-loan {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}
.our-private-property-section .our-private-property .private-property-cards .custom-carousel-inner .custom-carousel-item .carousel-card-detail .about-loan p {
  margin: 0;
  font-family: "Epilogue";
  color: #857867;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.our-private-property-section .our-private-property .private-property-cards .custom-carousel-inner .custom-carousel-item .carousel-card-detail .about-loan p span {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.our-private-property-section .our-private-property .private-property-cards .btn-customization {
  background-color: #A59C8D;
  width: 68px;
  height: 68px;
  top: 41%;
  opacity: 1;
  z-index: 0;
}
.our-private-property-section .our-private-property .private-property-cards .btn-customization:hover {
  background-color: #857867;
}
.our-private-property-section .our-private-property .private-property-cards .btn-customization:disabled {
  cursor: not-allowed;
}
.our-private-property-section .our-private-property .private-property-cards .carousel-control-prev {
  left: 21px;
}
.our-private-property-section .our-private-property .private-property-cards .carousel-control-next {
  right: 21px;
}

.investor-section {
  position: relative;
  top: 80px;
  padding: 40px 0;
  margin-bottom: 60px;
  background: linear-gradient(0deg, rgba(31, 43, 43, 0.2), rgba(31, 43, 43, 0.2)), url(images/bg-img-02.webp) center/cover no-repeat padding-box;
}
.investor-section .investor-container {
  padding: 0 12px;
}
.investor-section .investor-container form {
  width: 693px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.investor-section .investor-container form .investor-form {
  width: 100%;
  background-color: rgba(233, 231, 228, 0.7019607843);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 21px;
}
.investor-section .investor-container form .investor-form .sub-heading {
  color: #1F2B2B;
  text-transform: uppercase;
}
.investor-section .investor-container form .investor-form .input-box {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 21px 32px;
}
@media only screen and (max-width: 699px) {
  .investor-section .investor-container form .investor-form .input-box {
    grid-template-columns: auto;
    gap: 21px;
  }
}
.investor-section .investor-container form .investor-form .input-box input, .investor-section .investor-container .blog-form form .investor-form .input-box .input-fields select, .blog-form .investor-section .investor-container form .investor-form .input-box .input-fields select, .investor-section .investor-container .blog-form form .input-fields .investor-form .input-box select, .blog-form .investor-section .investor-container form .input-fields .investor-form .input-box select {
  padding: 11px;
  background-color: #FAFAFA;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.investor-section .investor-container form .investor-form select {
  width: 100%;
  padding: 11px;
  border: 0;
  border-radius: 3px;
  outline: 0;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.investor-section .investor-container form .investor-form .confirmation {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}
@media only screen and (max-width: 699px) {
  .investor-section .investor-container form .investor-form .confirmation {
    grid-template-columns: auto;
    gap: 32px;
  }
}
.investor-section .investor-container form .investor-form .confirmation .deals {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.investor-section .investor-container form .investor-form .confirmation .deals .title {
  text-transform: none;
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.investor-section .investor-container form .investor-form .confirmation .deals .radio-btn {
  display: flex;
  gap: 11px;
}
.investor-section .investor-container form .investor-form .confirmation .deals .radio-btn label {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.investor-section .investor-container form .investor-form textarea {
  width: 100%;
  padding: 11px;
  border: none;
  outline: none;
  border-radius: 3px;
  resize: none;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.investor-section .investor-container form button {
  width: 185px;
  padding: 12px 0 8px 0;
  background-color: transparent;
  border: 1px solid #FAFAFA;
  border-radius: 3px;
  text-align: center;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.investor-section .investor-container form button:hover {
  background-color: #FAFAFA;
  color: #857867;
  border: 1px solid #857867;
}

.about-us-section {
  position: relative;
  top: 80px;
  padding: 80px 0 40px;
}
.about-us-section .about-us {
  align-items: flex-end;
  gap: 11px;
}
@media only screen and (max-width: 1024px) {
  .about-us-section .about-us {
    padding: 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    text-align: center;
  }
}
.about-us-section .about-us .about-us-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-us-section .about-us .about-us-container .main-heading {
  text-transform: uppercase;
}
.title {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.info {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.detail {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-us-section .about-us .section-img {
  max-width: 386px;
}
@media only screen and (max-width: 430px) {
  .about-us-section .about-us .section-img img {
    width: 100%;
    height: auto;
  }
}

.our-mission-section {
  position: relative;
  top: 80px;
  padding: 40px 0;
}
.our-mission-section .our-mission {
  gap: 93px;
  align-items: flex-end;
}
@media only screen and (max-width: 1024px) {
  .our-mission-section .our-mission {
    padding: 21px;
    flex-direction: column;
  }
}
.our-mission-section .our-mission .our-mission-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: #E9E7E4;
}
.contect-info {
  max-width: 285px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: end;
}
.contect-info .contact-head {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.contect-info .contact-num, .contect-info .contact-eMail {
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.different-about-everpeak-section {
  position: relative;
  top: 80px;
  padding: 40px 0 80px;
}
.different-about-everpeak-section .different-about-everpeak {
  flex-direction: column;
  gap: 32px;
}
@media only screen and (max-width: 1024px) {
  .different-about-everpeak-section .different-about-everpeak {
    padding: 21px;
  }
}
.different-about-everpeak-section .different-about-everpeak .key-difference-head {
  display: flex;
  align-items: center;
  gap: 7px;
}
@media only screen and (max-width: 1024px) {
  .different-about-everpeak-section .different-about-everpeak .key-difference-head {
    flex-direction: column;
  }
}
.different-about-everpeak-section .different-about-everpeak .key-difference-head .sub-heading {
  color: #1F2B2B;
}
.different-about-everpeak-section .different-about-everpeak .key-difference-head .nav-brand-logo p {
  color: #1F2B2B;
  font-family: "Epilogue";
  font-size: 24px;
  line-height: 32px;
}
.different-about-everpeak-section .different-about-everpeak .key-difference-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px 21px;
}
@media only screen and (max-width: 799px) {
  .different-about-everpeak-section .different-about-everpeak .key-difference-container {
    grid-template-columns: auto;
    gap: 32px;
  }
}
.different-about-everpeak-section .different-about-everpeak .key-difference-container .key-difference {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  border: none;
  border-radius: 3px;
  background-color: #F7F6F6;
}
.different-about-everpeak-section .different-about-everpeak .key-difference-container .key-difference .head {
  display: flex;
  gap: 11px;
}
.different-about-everpeak-section .different-about-everpeak .key-difference-container .key-difference .head p {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.different-about-everpeak-section .different-about-everpeak .key-difference-container .key-difference .detail {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.our-programs-section {
  position: relative;
  top: 80px;
  padding: 80px 0 40px;
}
.our-programs-section .our-programs {
  flex-direction: column;
  gap: 46px;
}
@media only screen and (max-width: 1024px) {
  .our-programs-section .our-programs {
    padding: 21px;
    text-align: center;
  }
}
.our-programs-section .our-programs .our-programs-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.our-programs-section .our-programs .our-programs-container .main-heading {
  text-transform: uppercase;
}
@media only screen and (max-width: 1199px) {
  .our-programs-section .our-programs .section-img {
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .our-programs-section .our-programs .section-img img {
    width: 100%;
    height: auto;
  }
}

.private-loan-section {
  position: relative;
  top: 80px;
  padding-bottom: 41px;
}
@media only screen and (max-width: 1024px) {
  .private-loan-section {
    padding: 21px;
  }
}
.private-loan-section .private-loan-programs {
  flex-direction: column;
  gap: 41px;
}
.private-loan-section .private-loan-programs .private-loan-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
.private-loan-section .private-loan-programs .private-loan-container .sub-heading {
  color: #1F2B2B;
}
.private-loan-section .private-loan-programs .private-loan-container .loan-programs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 32px 21px;
}
@media only screen and (max-width: 599px) {
  .private-loan-section .private-loan-programs .private-loan-container .loan-programs {
    grid-template-columns: auto;
    gap: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .private-loan-section .private-loan-programs .private-loan-container .loan-programs {
    grid-template-columns: auto auto;
    gap: 30px 21px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .private-loan-section .private-loan-programs .private-loan-container .loan-programs {
    grid-template-columns: auto auto auto;
    gap: 30px 21px;
  }
}
.private-loan-section .private-loan-programs .private-loan-container .loan-programs .program {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  background-color: #F7F6F6;
  border-bottom: 1px solid #A59C8D;
}
.private-loan-section .private-loan-programs .private-loan-container .loan-programs .program .head {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.private-loan-section .private-loan-programs .private-loan-container .loan-programs .program .info {
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
@media only screen and (max-width: 1199px) {
  .private-loan-section .private-loan-programs .section-img {
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .private-loan-section .private-loan-programs .section-img img {
    width: 100%;
    height: auto;
  }
}

.commercial-loan-section {
  position: relative;
  top: 80px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 1024px) {
  .commercial-loan-section {
    padding: 21px;
  }
}
.commercial-loan-section .commercial-loan-programs {
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
.commercial-loan-section .commercial-loan-programs .sub-heading {
  color: #1F2B2B;
}
.commercial-loan-section .commercial-loan-programs .commercial-program-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px 21px;
}
@media only screen and (max-width: 799px) {
  .commercial-loan-section .commercial-loan-programs .commercial-program-container {
    grid-template-columns: auto;
    gap: 30px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .commercial-loan-section .commercial-loan-programs .commercial-program-container {
    grid-template-columns: auto auto;
    gap: 30px 21px;
  }
}
.commercial-loan-section .commercial-loan-programs .commercial-program-container .commercial-program {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  background-color: #E7EAEB;
  border-bottom: 1px solid #3E5F69;
}
.commercial-loan-section .commercial-loan-programs .commercial-program-container .commercial-program .head {
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.commercial-loan-section .commercial-loan-programs .commercial-program-container .commercial-program .info {
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.blog-screen {
  position: relative;
  top: 80px;
  padding: 80px 0 41px;
}
.blog-screen .blog {
  flex-direction: column;
  gap: 60px;
}
@media only screen and (max-width: 1199px) {
  .blog-screen .blog {
    padding: 21px;
  }
}
.blog-screen .blog .main-heading {
  text-transform: uppercase;
  padding-left: 100px;
}
@media only screen and (max-width: 1024px) {
  .blog-screen .blog .main-heading {
    padding-left: 30px;
  }
}

.blog-form {
  position: relative;
  top: 80px;
  padding-bottom: 60px;
}
.blog-form form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  border: none;
  border-radius: 5px;
  background-color: #E9E7E4;
}
.blog-form form .title {
  text-align: center;
}
.blog-form form .sub-title {
  color: #857867;
}
.blog-form form .input-fields {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 11px;
}
@media only screen and (max-width: 799px) {
  .blog-form form .input-fields {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .blog-form form .input-fields {
    grid-template-columns: auto auto;
  }
}
.blog-form form .input-fields input, .blog-form form .input-fields select {
  padding: 11px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.blog-form form .input-fields select {
  color: #1F2B2B;
}
.blog-form form .form-info {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.blog-form form button {
  width: 100%;
  padding: 12px 0 8px;
  background-color: #3E5F69;
  border: 1px solid #857867;
  border-radius: 1px;
  text-align: center;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.blog-form form button:hover {
  background-color: #1F2B2B;
}

.program-article-section {
  position: relative;
  top: 80px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 1199px) {
  .program-article-section {
    padding: 21px;
  }
}
.program-article-section .program-articles {
  flex-direction: column;
  gap: 21px;
}
.program-article-section .program-articles .customization-list {
  width: 100%;
  padding: 21px;
  background-color: #E7EAEB;
  overflow-x: auto;
}
.program-article-section .program-articles .customization-list .btn-links {
  width: 1441px;
  display: flex;
  gap: 21px;
}
.program-article-section .program-articles .customization-list .button {
  width: unset;
  padding: 12px 32px 8px;
  background-color: transparent;
  border: 1px solid #857867;
  border-radius: 3px;
  text-align: center;
}
.program-article-section .program-articles .customization-list .button a {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.program-article-section .program-articles .customization-list .button:hover {
  background-color: #A59C8D;
  border-color: #E7EAEB;
}
.program-article-section .program-articles .customization-list .button:hover a {
  color: #E7EAEB;
}
.program-article-section .program-articles .customization-list .button:active {
  background-color: #857867;
  border-color: #FAFAFA;
}
.program-article-section .program-articles .customization-list .button:active a {
  color: #FAFAFA;
}

.article-section {
  position: relative;
  top: 80px;
  padding: 60px 0 41px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 1199px) {
  .article-section {
    padding: 21px;
  }
}
.article-section .article-screen {
  flex-direction: column;
  gap: 21px;
}
.article-section .article-screen .go-back-btn {
  display: flex;
  gap: 11px;
  align-items: center;
}
.article-section .article-screen .go-back-btn img {
  width: 10px;
  height: 16px;
}
.article-section .article-screen .go-back-btn a {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.article-section .article-screen .go-back-btn a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1199px) {
  .article-section .article-screen .section-img {
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .article-section .article-screen .section-img img {
    width: 100%;
    height: auto;
  }
}
.article-section .article-screen .blog-article-title {
  padding: 21px;
  background-color: #F7F6F6;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.article-section .article-screen .blog-article-title .article-head {
  gap: 25px;
  justify-content: start;
}
@media only screen and (max-width: 499px) {
  .article-section .article-screen .blog-article-title .article-head {
    flex-direction: column;
    align-items: start;
  }
}
.article-section .blog-article {
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin: 0 auto;
  max-width: 1000px;
}
.article-section .blog-article .subtitle {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.article-section .blog-article .subtitle .highlight {
  color: #857867;
}

.highlight-section {
  position: relative;
  top: 80px;
  padding: 60px 0;
  background-color: #E9E7E4;
}
@media only screen and (max-width: 1199px) {
  .highlight-section {
    padding: 21px;
  }
}
.highlight-section .highlight-quotes {
  flex-direction: column;
  gap: 25px;
  text-align: center;
  align-items: center;
}
.highlight-section .article-info {
  color: #857867;
}
.highlight-section .button {
  width: 167px;
  padding: 12px 0 8px 0;
  background-color: #A59C8D;
  border: 1px solid #857867;
  border-radius: 3px;
  text-align: center;
}
.highlight-section .button a {
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.highlight-section .button:hover {
  background-color: #857867;
  border-color: #A59C8D;
}

@media only screen and (max-width: 1199px) {
  .blog-section {
    padding: 21px;
  }
}

.section-for-apply {
  position: relative;
  top: 80px;
  padding: 60px 0 41px;
}
@media only screen and (max-width: 1024px) {
  .section-for-apply {
    padding: 21px;
  }
}
.section-for-apply .main-body {
  max-width: 1050px !important;
  gap: 11px;
  align-items: flex-end;
}
@media only screen and (max-width: 1024px) {
  .section-for-apply .main-body {
    flex-direction: column;
    align-items: center;
  }
}
.section-for-apply .main-body .get-pre-qualified {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: #E9E7E4;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .input-container label {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .input-container select {
  padding: 11px;
  display: flex;
  gap: 11px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: #FAFAFA;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: rgba(250, 250, 250, 0.2);
  border: 1px solid #A59C8D;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .requirment-highlight {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount {
  display: grid;
  grid-template-columns: auto auto;
  gap: 21px 32px;
}
@media only screen and (max-width: 699px) {
  .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount {
    grid-template-columns: auto;
    gap: 21px;
  }
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .input-amount, .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-term {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .input-amount label, .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-term label {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .input-amount .enter-amount, .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-term .enter-amount {
  display: flex;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .input-amount .enter-amount .currency, .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-term .enter-amount .currency {
  padding: 11px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 2px 0 0 2px;
  font-family: "Epilogue";
  color: #857867;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .input-amount .enter-amount .input-loan-amount, .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-term .enter-amount .input-loan-amount {
  width: 100%;
  border-radius: 0 2px 2px 0;
  border: none;
  outline: none;
  background-color: #FAFAFA;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-to-value {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media only screen and (max-width: 1024px) {
  .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-to-value {
    width: 50%;
  }
}
@media only screen and (max-width: 699px) {
  .section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-to-value {
    width: 100%;
  }
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-to-value .LTV-amount {
  width: 100%;
  padding: 11px;
  background-color: rgba(165, 156, 141, 0.2);
  border-radius: 2px;
  border: none;
  outline: none;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .loan-requirments .get-amount .loan-term .loan-term-input {
  padding: 11px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #FAFAFA;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .user-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 21px 32px;
}
@media only screen and (max-width: 699px) {
  .section-for-apply .main-body .get-pre-qualified .form-wrapper .user-info {
    grid-template-columns: auto;
    gap: 21px;
  }
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .user-info .about-user {
  padding: 11px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #FAFAFA;
  font-family: "Epilogue";
  color: #3E5F69;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
}
@media only screen and (max-width: 699px) {
  .section-for-apply .main-body .get-pre-qualified .form-wrapper .user-info .about-user {
    width: 100%;
  }
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .imp-info-about-loan {
  font-family: "Epilogue";
  color: #857867;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper .imp-info-about-loan:hover {
  font-weight: 500;
  text-decoration: underline;
}
@media only screen and (max-width: 699px) {
  .section-for-apply .main-body .get-pre-qualified .form-wrapper .imp-info-about-loan {
    text-align: center;
  }
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper button {
  width: 138px;
  padding: 12px 0 8px;
  background-color: #A59C8D;
  border: 1px solid #857867;
  border-radius: 3px;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.section-for-apply .main-body .get-pre-qualified .form-wrapper button:hover {
  background-color: #857867;
  border: 1px solid #A59C8D;
}
.section-for-apply .main-body .real-estate-detail {
  max-width: 449px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .section-for-apply .main-body .real-estate-detail {
    align-items: center;
    max-width: 100%;
    flex-direction: row;
  }
}
.section-for-apply .main-body .real-estate-detail img {
  width: 100%;
  height: 472px;
}
.section-for-apply .main-body .real-estate-detail .detail-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .section-for-apply .main-body .real-estate-detail .detail-info {
    gap: 30px;
  }
}
.section-for-apply .main-body .real-estate-detail .detail-info .detail-para {
  font-family: "Epilogue";
  color: #1F2B2B;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.section-for-apply .main-body .real-estate-detail .detail-info .contect-info {
  max-width: 100%;
}

footer {
  padding: 80px 0 40px;
  position: relative;
  top: 80px;
  background-color: #1F2B2B;
}
footer .footer-container {
  padding: 0 21px;
  flex-direction: column;
  gap: 32px;
}
footer .footer-container .footer-info {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  footer .footer-container .footer-info {
    flex-direction: column;
    gap: 41px;
  }
}
footer .footer-container .footer-info .brand-info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
footer .footer-container .footer-info .brand-info .footer-brand-logo a {
  margin: 0;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
}
footer .footer-container .footer-info .brand-info .footer-brand-logo a:hover {
  color: #857867;
}
footer .footer-container .footer-info .brand-info .footer-contect-num, footer .footer-container .footer-info .brand-info .footer-contect-email {
  margin: 0;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-container .footer-info .brand-info .our-address {
  margin: 0;
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-container .footer-info .brand-info .footer-contect-email {
  margin: 0;
}
footer .footer-container .footer-info .footer-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}
footer .footer-container .footer-info .footer-links ul li a {
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
footer .footer-container .footer-info .footer-links ul li a:hover {
  color: #A59C8D;
}
footer .footer-container .footer-info .footer-links ul li a:active {
  color: #857867;
}
footer .footer-container .footer-info .user-identity {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .footer-container .footer-info .user-identity .button {
  width: 208px;
  padding: 12px 0 8px 0;
  background-color: transparent;
  border: 1px solid #FAFAFA;
  border-radius: 3px;
  text-align: center;
}
footer .footer-container .footer-info .user-identity .button a {
  font-family: "Epilogue";
  color: #FAFAFA;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
footer .footer-container .footer-info .user-identity .button:hover {
  background-color: #A59C8D;
  border-color: #857867;
}
footer .footer-container .footer-info .user-identity .button:hover a {
  color: #1F2B2B;
}
footer .footer-container .footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #3E5F69;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 599px) {
  footer .footer-container .footer-bottom {
    flex-direction: column;
    gap: 21px;
  }
}
footer .footer-container .footer-bottom .copyRight, footer .footer-container .footer-bottom .policies p a {
  margin: 0;
  font-family: "Epilogue";
  color: #A59C8D;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
footer .footer-container .footer-bottom .policies {
  display: flex;
  gap: 12px;
}
footer .footer-container .footer-bottom .policies p {
  margin: 0;
}
footer .footer-container .footer-bottom .policies p a {
  text-decoration: none;
}
footer .footer-container .footer-bottom .policies p a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */